<p>Hi, {{ user.username }}!</p>

{% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li{% if messages.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}

{% if product_data %}
    <table>
        <tr>
            <th>Product Name</th>
            <th>Product Price</th>
        </tr>
        {% for product_record in product_data %}
            <tr>
                <td><a href="/product/{{ product_record.id }}">{{ product_record.name }}</a></td>
                <td>PHP {{ product_record.price }}</td>
            </tr>
        {% endfor %}
    </table>
{% endif %}

<a href="/checkout">Go to checkout</a>
<a href="/transaction_history">Go to transaction history</a>